$font-stack    : Helvetica, sans-serif;
$primary-color : #333;

body {
    font  : 100% $font-stack;
    color : $primary-color;
}

.tail {
    border      : 1px solid black;
    font-family : monospace;
    overflow    : auto;
    padding     : 0.1em 0.3em;
    white-space : pre;
    width       : 100%;
    word-wrap   : normal;
}
